      </div><!-- endof Page Content(div.container) -->
      <div id="footerspace"></div><!-- hold space for pagefooter -->
    </div><!--endof  #pagewrapper -->
    
    <div id="pagefooter">
      <div class="container">
        <p class="muted credit">Author: <a href="http://profile.wikty.com">{{ handler.settings['author'] }}</a></p>
      </div>
    </div>
  </body>
</html>
