<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="团购搜索引擎">
    <meta name="author" content="">

    <title>{{ handler.settings['site_name'] }}</title>

    <script type="text/javascript" src="{{ handler.static_url('jquery-2.0.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ handler.static_url('bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ handler.static_url('jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ handler.static_url('holder.js') }}"></script>
    <script type="text/javascript" src="{{ handler.static_url('main.js') }}"></script>
    

    <!--Tornado Static handler load css depend rel="stylesheet"-->
    <link type="text/css" rel="stylesheet" href="{{ handler.static_url('bootstrap.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ handler.static_url('bootstrap-responsive.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ handler.static_url('jquery-ui.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ handler.static_url('main.css') }}" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ handler.static_url('html5shiv.js') }}"></script>
    <![endif]-->
  </head>
  <body>
  
  <div id="pagewrapper">

    <!--Page header -->    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ handler.reverse_url('index_url') }}">{{ handler.settings['site_name'] }}</a>
          <!--
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
          -->
        </div><!-- endof div.container -->
      </div><!-- endof div.navbar-inner -->
    </div><!-- endof div.navbar.navbar-inverse.navbar-fixed-top -->
    
    <!-- Page Content -->
    <div class="container">
