<form action="{{ query_url }}" method="get">
  <input type="text" name="item" class="span3" id="search" autocomplete="off" autofocus="on" />
  <input type="submit" name="submit" class='btn' value="团Go" />
</form>