<div>
<form action="{{ handler.reverse_url('query_url') }}" class="form-search">
    <input type="text" class="input-medium search-query" name="item" id="search" autocomplete="off" autofocus="on" />
    <button type="submit" class="btn">查找</button>
</form>
</div>
