		</div><!-- endof div.row-fluid -->
      </div><!-- endof div.container-fluid-->
    </div><!--endof div#wrap -->
    <hr/>
    <div id="footer">
      <div class="container">
        <p class="muted credit">developer: <a href="wikty.com">肖文斌</a></p>
      </div>
    </div>
  </body>
</html>