<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	<title>{{ site_name }}</title>
	<script type="text/javascript" src="{{ static_url }}/jquery-2.0.0.min.js"></script>
	<script type="text/javascript" src="{{ static_url }}/jquery-ui.js"></script>
  <script type="text/javascript" src="{{ static_url }}/holder.js"></script>
	<!--<script type="text/javascript" src="{{ static_url }}/bootstrap.js"></script>-->
	<script type="text/javascript">
	window.onload=function(){
		$('#search').autocomplete({
			source: '{{ keywords_url }}',
			minLength: 2,
			select: function(event, ui) {  
            	//$(".result").remove();
            	//$("#search").before("<div class='result'></div>");  
            	//$(".result").html(ui.item.value);  
            	//$(ui.item).addClass('selected');
              //alert(ui.item)
        	}
		})
	}
	</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    <link href="{{ static_url }}/bootstrap.css" rel="stylesheet">
    <link href="{{ static_url }}/bootstrap-responsive.css" rel="stylesheet" />
    <link type="text/css" href="{{ static_url }}/jquery-ui.css" />
    <style type="text/css">
.sidebar-nav{
      padding:9px 0px;
    }
    @media(max-width:980px){
      /*enable use of floated navbar text*/
      .navbar-text.pull-right{
        float:none;
        padding-left:5px;
        padding-right:5px;
      }
    }
    html,body{
      height:100%;make sure html and body elements have no any padding or margin
    }
    body{
      padding-top:60px;
    }
    #wrap{
      min-height:100%;
      height:auto !important;
      height:100%;
      /*Negative indent footer by it's height*/
      margin:0 auto -30px;
    }
    /*set the fixed height of the footer */
    #footer{
      height:60px;
      background-color: #f5f5f5;
    }
    /*apply responsive css fixes as necessary*/
    @media(max-width=767px){
      #footer{
        margin-left:-20px;
        margin-right:-20px;
        padding-left:20px;
        padding-right:20px;
      }
    }
    /*for page css*/
    #footer .contianer{
      width:0 auto;
      max-width:680px;
      margin-top:15px;
    }
    #footer .contianer .credit{
      margin:20px 0;
    }




      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .container {
        width: auto;
        max-width: 680px;
      }
      .container .credit {
        margin: 20px 0;
      }

      .ui-autocomplete.ui-menu{
      	list-style:none;
        background-color:#f5f5f5;
        margin:0;
        padding:0;
        width:300px;
        height:400px;
        overflow: scroll;
      }

      .ui-helper-hidden-accessible{
      	display:none;
      }

    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/public/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
  	    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">
      <div id="pageheader">
        <form action="{{ query_url }}" method="get">
          <input type="text" name="item" class="span3" id="search" autocomplete="off" autofocus="on" />
          <input type="submit" name="submit" class='btn' value="团Go" />
        </form>
      </div>
      <div class='container-fluid'>
