{% extends "base.tmpl" %}
{% block content %}

<div id="homesearch">
    <h2>{{ handler.settings['site_name'] }}</h2>
    <form action="{{ handler.reverse_url('query_url') }}" class="form-horizontal">
        <input type="text" class="input-large" name="item" id="search" autocomplete="off" autofocus="on" />
        <button type="submit" class="btn">查找</button>
    </form>
</div>

{% end %}
